
 <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
  
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
  
            <!-- Content -->
            
            <p>Web-Development netanel arie 0506850270<br> netanelarye2020@gmail.com</p>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none pb-3">
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled">
                <li>
                  <a href="https://www.facebook.com/portobb/">facebook</a>
                </li>
                <li>
                  <a href="#!">youtube</a>
                </li>
                <li>
                  <a href="https://api.whatsapp.com/send?phone=972506850270&app=facebook&entry_point=page_cta&fbclid=IwAR3b1Gc3c1sQsyYz47lXh43BT2lkDU2oTuUKGpoYR7Ab1WcjrabYPH0e4n0">whatsapp</a>
                  <a href="http://localhost:4200/#cc">mywebsite</a>
                </li>
                <li>
                  <a href="#!">instegram</a>
                </li>
              </ul>
  
            </div>
          
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> LINK to mysite</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer --> 
