<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <system.webServer>

        <rewrite>
            <rules>
                <remove name="Angular Routes" />
                <remove name="AngularJS" />
                <rule name="Angular Routes"  stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        </system.webServer>
        </configuration>
