<div>

    <!–– this data wil sent from the api server  ––>
    <br>
    <p class="center">סה"כ לתשלום
    {{SumPrice}}

    </p ><button>לתשלום</button>
    <br>
<div class="conteiner" >

  <div *ngIf="time">

    <img src="../../assets/loading-slow-internet.gif" alt="loading" title="loading gif" style="position: center;" />
     </div>

            <div  *ngFor="let item of JSONBusPRDC">
                <h1 class="name" style="right: 50px;">{{item.PRDname}} </h1>
                <h1>מחיר : ₪{{item.PRDPrice}} </h1>
                <img id="img" src="{{item.PRDImage}}" alt="{{item.PRDname}}" title="{{item.PRDAttribute}}"  >
                <h3>category:{{item.PRDCategory}} </h3><br> <h3>   contein:{{item.PRDTitle}} </h3><br>
               <button #adbotton type="submit" [ngModel] (click)="DeleteFromBusket(item.ItemId)" >
                   הסר מהסל
                </button>
                <div *ngIf="item.length == 0">
                  <p>somthing its wrong reload this page to solve this problem</p>
                  </div>
           </div>
       </div>


        </div>


