
<div dir=rtl  style="font-size: 20px;">
    
        <h1 style="font-size: 30px;">שעות המשלוחים </h1>
<h1>
    ימי ראשון-רביעי 
</h1>
12:00 -24:00
<h1>
    יום חמישי
</h1>
12:00-3:00

<h1>
יום שישי
</h1>
08:00 <br>
עד שעתיים לפני שבת
   
</div>
<br>
<div dir=rtl  style="font-size: 20px;">
<p style="font-size: 30px;">מחיר המשלוחים</p> 
 15₪
בתוך העיר <br>
מחוץ לעיר תלוי בזמינות השליח נא להתקשר לחנות לתאם הזמנה
<a href="https://api.whatsapp.com/send?phone=97
2506850270&app=facebook&entry_point=page_cta&fbclid=IwAR3b1G
c3c1sQsyYz47lXh43BT2lkDU2oTuUKGpoYR7Ab1WcjrabYPH0e4n0"> בוואטסאפ לחץ כאן </a>
<p></p>
<a href="tel:+1-972-0506850270"> או לחץ כאן לצלצל אלינו     </a>
</div>

