<div>


  <!--<samp ></samp> *ngIf="myElement"-->



  <div class="loading mx-auto" *ngIf="time">

    <img src="../../assets/tenor.gif" alt="loading" title="loading gif" style="position: center;" />
  </div>

  <div class="conteiner">
    <div *ngFor="let item of Posts">

      <div class="prodFrame">
        <div class="tytle">
          <h1 class="name tytle" style="right: 50px;">{{item.PRDname}} </h1>
          <h1>מחיר : ₪{{item.PRDPrice}} </h1>
        </div>

        <img id="img" src="{{item.PRDImage}}" alt="{{item.PRDname}}" title="{{item.PRDAttribute}}">
        <h3>category:{{item.PRDCategory}} </h3><br>
        <h3> contein:{{item.PRDTitle}} </h3><br>
        <button #adbotton type="submit" [ngModel] (click)="add_to_busket(item)">
          הוסף לסל
        </button>

        <button *ngIf="manager" #adbotton type="submit" [ngModel] (click)="dalitem(item.PRDID)">

          מחק מוצר
        </button>
      </div>

    </div>
    <div>
      <p>somthing its wrong reload this page to solve this problem</p>
    </div>
  </div>


</div>
