
<h1 rtl>תודה שקניתם אצלנו שמחנו לעמוד לשירותכם ניפגש בשבוע הבא</h1>
<button >להורדת אישור תשלום</button>
<h1 dir="rtl" style="margin:auto">
  רכשת מוצר בפורטו? אנא הקדש/י דקה מזמנך כדי לחוות דעתך על החנות ותהליך הקנייה</h1>
<BR>
<form #CstmrRviwsForm="ngForm" dir="rtl">
  <label>שם הלקוח</label>
  <input type="text" ngModel name="cstmrName" placeholder="שם מלא" style="border:2% ;" >
  <label>שם המוצר</label>
<input type="text" ngModel name="PRDNAME" placeholder="שם המוצר" >
<br>
<label>אנא כתוב את חוות דעתך</label>
<input type="text" ngModel name="opnin" placeholder="אנא כתוב את חוות דעתך">
<br>
<label>צרף תמונה</label>
<input type="file" ngModel  #file accept="image/*" disabled="true" (change)="savePdf(file.files)" stylt="display:none" placeholder="העלה תמונה">

<button type="submit"> שלח חוות דעת</button>
</form>



